<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/aboutus.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ResWeb</title>
</head>
<body>
    <%- include('partials/navBar') %>

<div id="main">
    <div id="abt">
    <h1 style="font-size: 3.5vw; margin-top: 2vw;">About US</h1>
    </div>
    <h3 style="font-size: 1.5vw;">A team of 2 developers</h3>
    <div id="profile">
        <div id="content">
            <h2 style="font-size: 2vw;"><strong>Ripandeep Singh</strong></h2>
            <p style="font-size: 0.9vw;" >Student @SJSU</p>
            <button style="font-size: 1.1vw;" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-linkedin-square" style="font-size:22px"></i>  LinkedIn</button>
            <button style="font-size: 1.1vw;" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-github" style="font-size:22px"></i>  Github</button>
        </div>
        <div id="content">
            <h2 style="font-size: 2vw;"><strong>Tanveer Hehar</strong></h2>
            <p style="font-size: 0.9vw;">Student @SJSU</p>
            <button style="font-size: 1.1vw;" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-linkedin-square" style="font-size:22px"></i>  LinkedIn</button>
            <button style="font-size: 1.1vw;" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-github" style="font-size:22px"></i>  Github</button>

        </div>
    </div>
<h4 style="margin-top: 3vw; font-size: 1.2vw;">Contact us:</h4>
<p style="font-size: 0.8vw;">sh.2100.ra@gmail.com</p>
</div>
</body>
</html>